html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, #007ec6, #0096d3, #00add9, #00c3d7, #00d7d1, #12e1c9, #36eabd, #58f2ae, #6ef4a5, #81f69d, #93f795, #a4f88d);
  background-size: 200% 200%;
  background-repeat: repeat;
  animation: MoveBgAnimation 7s ease infinite;
}

@keyframes MoveBgAnimation {
  0% { background-position: 0% 50% }
  50% { background-position: 50% 50% }
  100% { background-position: 0% 50% }
}

button {
  transition: all 0.25s;
  font-size: 16px;
  border-radius: 10px;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  border: 3px solid rgba(255, 255, 255, 0.2);
}

button.connect:hover {
  border: 3px solid rgba(255, 255, 255, 0.5);
}

button.disconnect {
  margin-left: 12px;
  background: rgb(245, 145, 127);
  filter: grayscale(0.1);
  border: 3px solid rgba(245, 145, 127, 0.3);
}

button.disconnect:hover {
  filter: grayscale(0);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.preview-card {
  filter: opacity(90%) saturate(90%);
  transition: all 0.3s;
}

.preview-card:hover {
  filter: opacity(100%) saturate(100%);
}

.bg-logo {
  filter: blur(3px);
}
